<h1>{{ name }}</h1>
<h1>{{ email }}</h1>
<h1>{{ phone }}</h1>

<h1>Educations:</h1>
<ul>
    {% for edu in educations %}
        <li>{{ edu.name }} - started in {{ edu.start }} and finished in {{ edu.end }}</li>
    {% endfor %}
</ul>

<h1>Work:</h1>
<ul>
    {% for work in works %}
        <li>
            <h2>{{ work.position }} in {{ work.name }}</h2>
            started in {{ work.start }} and finished in {{ work.end }}
        </li>
    {% endfor %}
</ul>

<h1>Skills:</h1>
<ul>
    {% for skill in skills %}
        <li>{{ skill.name }}</li>
    {% endfor %}
</ul>
