<h1>string1</h1>
<h1>string1</h1>
<h1>1</h1>

<h1>Educations:</h1>
<ul>
    
        <li>string - started in 0 and finished in 0</li>
    
        <li>string1 - started in 1 and finished in 1</li>
    
        <li>string2 - started in 2 and finished in 2</li>
    
</ul>

<h1>Work:</h1>
<ul>
    
        <li>
            <h2>string in string</h2>
            started in 0 and finished in 0
        </li>
    
</ul>

<h1>Skills:</h1>
<ul>
    
        <li>string</li>
    
</ul>